.profile {
  margin-left: 30px;
  cursor: pointer;
  /* border: 1px solid rgb(96, 61, 61); */
  /* width: 40px;
  height: 40px;
  border-radius: 50%; */
}
.loginPage {
  color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border-bottom: 2px solid teal; */
  /* background-color: teal; */
}
.loginPage li {
  font-size: 20px;
  border-bottom: 3px solid teal;
  color: white;
}
.profile .image {
  display: flex;
  padding-bottom: 20px;
}
.profile .image img {
  margin-right: 20px;
}
.profile button {
  font-size: 17px;
  font-weight: 500;
}
.profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.openProfile {
  z-index: 999;
  color: #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  position: absolute;
  top: 80px;
  right: 10px;
  width: 250px;
  background: #fff;
}
.openProfile .box {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  padding: 5px;
  transition: 0.5s;
}
.openProfile .icon {
  font-size: 20px;
  margin-right: 20px;
}
.openProfile h4 {
  font-size: 15px;
  font-weight: 500;
}
.openProfile button:hover {
  background: rgba(147, 75, 255, 0.075);
}
header.active {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 0 4px 0 rgb(115 115 115 / 20%);
  z-index: 9999;
  background: #fff;
}
@media screen and (max-width: 768px) {
  header .search {
    display: none;
  }
}
.profile a {
  text-decoration: none;
}
