.login {
  position: relative;
  margin-bottom: 50px;
}
.login-container {
  display: flex;
  margin-top: 30px;
  gap: 5%;
}
.login .backImg {
  width: 60%;
  height: 50vh;
  position: relative;
}
.login .backImg img {
  width: 100%;
  border-radius: 10px;

  height: 55vh;
  object-fit: cover;
}
.login .text {
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: 1;
  text-align: center;
  color: #fff;
}
.form {
  background-color: aliceblue;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.75);
}
.form span {
  font-size: 30px;
  color: gray;
}

.form input {
  padding: 15px;
}

.login .text h3 {
  font-weight: 600;
  margin-bottom: 10px;
}
.morelogin {
  margin-top: 15px;
  font-size: 20px;
  font-style: oblique;
  color: grey;
}
.morelogin b {
  color: teal;
  cursor: pointer;
  font-style: normal;
  font-weight: bold;
  padding-left: 5px;
}
.login .text h1 {
  font-size: 40px;
}
.login a {
  margin-top: 20px;
  text-decoration: none;
}
.buttonl {
  font-size: 25px;
  margin-top: 15px;
  color: #fff;
  cursor: pointer;
  background-color: teal;
}
