.add {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.724);
  display: flex;
  align-items: center;
  justify-content: center;
}

.add .modal {
  padding: 20px;
  border-radius: 10px;
  background-color: gainsboro; /* Replace with your desired background color */
  position: relative;
}

.add .modal h1 {
  /* margin-bottom: 40px; */
  font-size: 24px;
  color: #333333; /* Replace with your desired text color */
}

.add .modal .close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: red;
}

.add .modal form button {
  width: 100%;
  padding: 10px;
  font-size: 24px;
  color: white;
  cursor: pointer;
  background-color: teal;
  border-radius: 10px;
}
.add .modal form button:hover {
  background-color: white;
}

.add .modal form {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;

  justify-content: space-between;
}
.add .modal form .allItems {
  margin-bottom: 20px;
}
.add .modal form .allItems .label {
  font-size: 20px;
  color: #333333;
  padding-bottom: 20px;
}

.add .modal form .allItems input {
  padding: 10px;
  background-color: transparent;
  color: white; /* Replace with your desired text color */
  border: 1px solid silver;
  border-radius: 3px;
  border-radius: 8px;
}
.add .modal form .allItems input:focus {
  outline: 2px solid teal;
}
.add .modal form .allItems .rolename {
  font-size: 20px;
  width: 100%;
  border: none;
  padding: 8px;
  border-radius: 8px;
  /* border: 1px solid red; */
}
.add .modal form .allItems .rolename:focus {
  outline: none;
}
