.OrderContainter {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 25px auto;
}
.topTitle h3 {
  font-size: 30px;
  color: teal;
}
.order {
  width: 100%;
}
.table {
  margin: 10px auto;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table th,
.table td {
  padding: 12px;
  text-align: center;
}

.table th {
  background-color: teal;
  font-weight: bold;
  color: wh;
}
.table td {
  color: gray;
  font-size: 20px;
  font-weight: bold;
}
.table tbody tr {
  background-color: #eee;
}

.table tbody tr:hover {
  background-color: aliceblue;
}

.table button {
  padding: 9px 12px;
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.table button:hover {
  background-color: rgb(130, 0, 0);
}
@media (max-width: 600px) {
  .OrderContainter {
    width: 100%;
  }
  .order {
    width: 95%;
  }
}
